@model IEnumerable<BreakingNews.Application.ViewModels.NewsViewModel>

@{
    ViewBag.Title = "Lista de Notícias";
    Layout = "_Layout";
}
<br />
<div>
    Ações: @Html.ActionLink("Nova notícia", "New", "News", null, new { @class = "btn btn-success" })
</div>
<br />
<h1>@ViewBag.Title</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>URL amigável</th>
            <th>Autor</th>
            <th>Título</th>
            <th>Publicado?</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var news in Model)
            {
                <tr>
                    <td>@news.Id</td>
                    <td>@news.FriendlyUrl</td>
                    <td>@news.Author</td>
                    <td>@news.Title</td>
                    <td>@(news.IsPublished ? "Sim" : "Não")</td>
                    <td><a class="btn-sm btn-primary" href="@Url.Action("Edit", new {id = news.Id})">Editar</a> | <a class="btn-sm btn-danger" href="@Url.Action("Delete", new {id = news.Id})">Excluir</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Não há notícias para exibir.</td>
            </tr>
        }
    </tbody>
</table>