@model BreakingNews.Application.ViewModels.FormUserViewModel

@{
    var isCreating = string.IsNullOrEmpty(Model.Id);
    var userNameAttributes = ViewData["userNameAttributes"] ?? new { @readonly = "", @class = "form-control", autocomplete = "off" };

    ViewBag.Title = $"{(isCreating ? "Cadastro" : "Alteração")} de Usuário";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    if (isCreating)
    {
        @Html.HiddenFor(m => m.Id)
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Id)
            @Html.TextBoxFor(m => m.Id, new { @readonly = "", @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Id)
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, userNameAttributes)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    if (isCreating)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PasswordConfirmation)
            @Html.PasswordFor(m => m.PasswordConfirmation, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.PasswordConfirmation)
        </div>
    }
    else
    {
        @Html.HiddenFor(m => m.Password)
        @Html.HiddenFor(m => m.PasswordConfirmation)
    }

    <div class="form-group">
        @Html.LabelFor(m => m.SelectedRoles)
        @Html.ListBoxFor(m => m.SelectedRoles, Model.RolesListItems)
        @Html.ValidationMessageFor(m => m.SelectedRoles)
    </div>

    <div class="form-group">
        <button class="btn btn-success" type="submit">Salvar</button>
        <a href="@Url.Action("Index")" class="btn btn-danger">Voltar</a>
    </div>
}
