@model BreakingNews.Application.ViewModels.UserViewModel

@{
    ViewBag.Title = $"{(string.IsNullOrEmpty(Model.Id) ? "Cadastro" : "Alteração")} de Usuário";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    @Html.ListBoxFor(m => m.SelectedRoles, Model.Roles)

    <div class="form-group">
        <button class="btn btn-success" type="submit">Salvar</button>
        <a href="@Url.Action("Index", "News")" class="btn btn-danger">Voltar</a>
    </div>
}
